
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to bottom, #f4e3d3, #fff5ee);
  }

  nav {
    width: 100%;
    background: rgba(210, 145, 170, 0.85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px; /* увеличихме вертикалния и хоризонталния padding */
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  

  .menu-toggle {
    font-size: 26px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }

  .page-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    color: white;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: rgba(210, 145, 170, 0.95);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
  }

  .dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #eabac3;
  }

  .show {
    display: block;
  }

