body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f9e7d6, #fff5ee);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: #333;
  padding-top: 60px;
  position: relative;
}


body::before,
body::after,
html::before,
html::after {
  content: "";
  position: fixed;
  background: rgba(210, 145, 170, 1);
  z-index: -1;
}

body::before {
  left: 0;
  top: 0;
  width: 50px;
  height: 100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

body::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 100vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

html::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

html::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}



h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #aa4455;
  font-family: 'Poppins', Arial, sans-serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #aa4455;
  font-family: 'Poppins', Arial, sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* center the row */
}

.gallery img {
  width: 300px;
  height: auto;
  object-fit: cover; /* ensures the image fills the box without distortion */
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.05);
}
.container {
  max-width: 10000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


.cat-toy-img {
  position: fixed;
  bottom: 20px;
  left: -5px;
  width: 100px;
  transform: rotate(-15deg);
  opacity: 0.9;
  pointer-events: none;
  z-index: 10;
}
nav {
  width: 100%;
  background: rgba(210, 145, 170, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px; /* Increased vertical and horizontal padding */
  position: absolute;
  top: 0;
  z-index: 1000;
}

.menu-toggle {
  font-size: 26px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.page-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgba(210, 145, 170, 0.95);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #eabac3;
}

.show {
  display: block;
}
